# Binaries
*.exe
*.dll
*.so
*.dylib

# Vendor and build artifacts
vendor
bin
_build

# Git
.git

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
log
*.log

# Docker
docker-compose.override.yml

# Go test cache
*.test

# node
node_modules
